/* Thicken lines in Flowcharts and Graphs */
.edgePath .path {
  stroke-width: 3px !important;
}

/* Thicken arrowheads */
.marker {
  stroke-width: 1.5px !important;
}

/* Thicken lines in Entity Relationship Diagrams */
.er.relationshipLine {
  stroke-width: 3px !important;
}

/* Thicken lines in State Diagrams if any */
.transition {
  stroke-width: 3px !important;
}
